<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-148249653-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-148249653-1');
  </script>


  <!-- Primary Meta Tags -->
  <title>Stringy Software</title>
  <meta name="title" content="Stringy Software">
  <meta name="description" content="Software that's Stringy.">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://stringy.software/">
  <meta property="og:title" content="Stringy Software">
  <meta property="og:description" content="Software that's Stringy.">
  <meta property="og:image" content="assets/banner.png">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://stringy.software/">
  <meta property="twitter:title" content="Stringy Software">
  <meta property="twitter:description" content="Software that's Stringy.">
  <meta property="twitter:image" content="assets/banner.png">

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="assets/favicon.png" />

  <style type="text/css">
     #content { 
      width: 500px;
      margin: 0 auto 50px;
     }
     #footer {
      position: fixed;
      left: 0; bottom: 0;
      padding: 10px;
      background: #39b54a;
      color: #fff;
      width: 100%;
     }
  </style>
  <link rel="stylesheet" href="./emi/b_style.css">
  <script src="https://kit.fontawesome.com/6e28df878b.js" crossorigin="anonymous"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css'>
  <script src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="./emi/style.css">
  <link rel="stylesheet" href="./stringy.css">
</head>
<body>


<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Stringy Software</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav pull-right" id="navbar-links">
        <li><a href="/">Home</a></li>
        <li class="active"><a href="/projects">Projects</a></li>
        <li id="login"><a href="/auth/login"><i class="fas fa-user"></i></a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="stuff-cont">
      <div class="projtop">
        <h2>Projects</h2>
      </div>
      <div id="proj" class="row">
      </div>
  </div>
</div>

<div id="footer">
  &copy; 2020, Stringy Software. Made with ♥ by Stringy</a>
</div>

<div class="spinner-cont">
  <div class="spinner">
    <div class="cube1"></div>
    <div class="cube2"></div>
  </div>
</div>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
<script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="./emi/script.js"></script>
<script src="./js/proj.js"></script>
</body>
</html>
