@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,500&display=swap');

body {
    font-family: "Roboto";
    /* background-color: #23272A; */
    color: black;
}

.navbar {
    /* background-color: #000; */
    background: linear-gradient(90deg, rgba(43,148,198,1) 0%, rgba(140,66,214,1) 100%);
    border: 0;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
    background-color: white;
    color: black;
}

.navbar-inverse .navbar-brand {
    font-family: "Roboto";
    font-weight: 500;
    font-style: italic;
    color: white;
}

.text-center, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: black;
    font-family: "Roboto";
    font-weight: 300;
}

.stuff-cont {
    text-align: center;
    margin-top: 35px;
}

#footer { text-align: center;}

/* .S-discord:hover{ color: #7289DA; cursor: pointer; }
.S-github:hover { color: #b8b8b8; cursor: pointer; }
.S-twitter:hover{ color: #1da1f2; cursor: pointer; }
.S-spotify:hover{ color: #1db954; cursor: pointer; }
.S-twitch:hover { color: #9146ff; cursor: pointer; }
.S-twitch:hover { color: #9146ff; cursor: pointer; }
.S-youtube:hover{ color: #ff0000; cursor: pointer; } */

.fab{ color: white; font-size: 48px; padding-left: 5px; padding-right: 5px; }
.fab:hover { color: #bfbfbf; }

.S-box{
    margin-top: 30px;
    padding: 15px !important; 
    border-radius: 10px;
    background: linear-gradient(90deg, rgba(43,148,198,1) 0%, rgba(140,66,214,1) 100%);
    display: inline-block;
}



/* spinkit lmao */
.spinner {
    margin: 100px auto;
    width: 40px;
    height: 40px;
    position: relative;
}

.spinner-cont {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.cube1, .cube2 {
background-color: #333;
width: 15px;
height: 15px;
position: absolute;
top: 0;
left: 0;

-webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
-webkit-animation-delay: -0.9s;
animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
100% { -webkit-transform: rotate(-360deg) }
}

@keyframes sk-cubemove {
25% { 
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
} 50% { 
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
} 50.1% { 
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
} 75% { 
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
} 100% { 
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
}
}

.cardimg {
    width: 100%;
    height: 15vw;
    object-fit: cover;
    border-radius: 5px;
}

.stuff-cont {
    display: none;
}

#navbar-links {
    display: none;
}

.f_pad {
    margin-top: 5px;
}

img.emoji {
    height: 1em;
    width: 1em;
    margin: 0 .05em 0 .1em;
    vertical-align: -0.1em;
}