@tailwind base;
@tailwind components;
@tailwind utilities;

/* from https://github.com/twitter/twemoji */
img.emoji, span.emoji {
   height: 1em;
   width: 1em;
   margin: 0 .05em 0 .1em;
   vertical-align: -0.1em;
}

a {
  @apply text-gray-500;
}