@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

body {
  background-color: #2C2F33;
  color: white;
}

a {
  color: #09d3ac;
}

.Home-logo {
  height: 40vmin;
}

.Home-h1 {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-left: 2vw;
  font-family: "Roboto Mono";
}

.Home-Tagline {
  position: relative;
  top: -2vw
}

.App-MiddlePage {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.emoji-rocket-h1 {
  height: 4vw;
}