.MainMenu-Buttons{
    display: flex;
    flex-direction: column;
}

.MainMenu-Grad1 {
    border-image: linear-gradient(66deg, rgba(0,138,255,1) 0%, rgba(252,0,255,1) 100%);
    border-radius: 50%;
    border-image-slice: 1;
    border-width: 2px;
    padding: 7px;
    font-size: 2vw;
    background-color: transparent;
    color: white;
    margin-bottom: 5px;
}

.MainMenu-Grad2 {
    border-image: linear-gradient(90deg, #f8ff00 0%, #3ad59f 100%);
    border-radius: 50%;
    border-image-slice: 1;
    border-width: 2px;
    padding: 7px;
    font-size: 2vw;
    background-color: transparent;
    color: white;
    margin: 2px
}

.MainMenu-Social{
    padding-top: 2vw;
}

.MainMenu-SocialButton{
    padding-right: 1vw;
    color:white;
}

.S-discord:hover{
    color: #7289DA;
    cursor: pointer;
}

.S-github:hover{
    color: #b8b8b8;
    cursor: pointer;
}

.S-twitter:hover{
    color: #1da1f2;
    cursor: pointer;
}

.S-spotify:hover{
    color: #1db954;
    cursor: pointer;
}

.S-twitch:hover{
    color: #9146ff;
    cursor: pointer;
}

.S-twitch:hover{
    color: #9146ff;
    cursor: pointer;
}

.S-youtube:hover{
    color: #ff0000;
    cursor: pointer;
}

button:hover {
    cursor: pointer;
}