body {
  -webkit-font-smoothing: subpixel-antialiased;
  color: #fff;
  margin: 0;
  font-family: "Inter";
}

.center_container {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.logo {
  width: 10vw;
  border-radius: 1000px;
  align-self: center;
}

hr {
  margin-top: 50px;
}

.brand_text {
  margin: 0;
  /* margin-left: 35px; */

  font-size: 10vw;
  font-size: calc(100px + 2.5vw);

  text-align: center;
  /* font-style: italic; */
}

.main_container {
  /* display: flex;
  flex-direction: row; */
  margin-bottom: 35px;
}

.button_container {
  display: flex;
  justify-content: center;
  padding: 6px;
}

.button_container a {
  color: white;
}

.icon, .button_container span {
  background-color: rgba(0, 0, 0, 0.5);
  transition: background-color 0.2s, transform 0.4s;
  border-radius: 1005px;
  
  font-size: 40px;
  padding: 18px;
  margin: 14px;
}

.icon:hover {
  background-color: rgba(0, 0, 0, 0.7);
  transform: scale(1.2);
}

.brand-icons {
  width: 40px !important;
  height: 40px;
}

html, body, main, #strsft {
  height: 100%;
  /* overflow: hidden; */
}

.particles {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;

  filter: invert(98%);
  /* background-image: url("../assets/stringy_bg.png"); */
  /* background-size: 2%; */
  /* background-repeat: space; */
}

.discord:hover { background-color: #8197e6;}
.twitch:hover { background-color: #9146ff;}
.youtube:hover { background-color: #ff0000;}
.twitter:hover { background-color: #1da1f2;}
.github:hover { background-color: #333333;}

.a_uncringe {
  color: #fff;
  padding: 2px;
}

.music_container {
  text-align: center;
}

.page_title {
  margin-top: 0px;
  font-size: calc(50px + 2.5vw);
  color: #000;
  font-weight: 00;
  /* font-style: italic; */
  /* text-decoration: underline; */
}

.page_container {
  height: 100%;
  margin: 0;
}

.back_button {
  position: absolute;
  top: 5;
  left: 5;
}

.release {
  margin: 15px;
  padding: 0;
}

.release img {
  width: calc(140px + 2.5vw);
  transition: 0.2s;
  border-radius: 5px;
}

.release img:hover {
  transform: scale(1.2);
  box-shadow: 10px 10px 28px -5px rgba(0,0,0,0.75);
  cursor: pointer;
}

.releases {
  margin: 0;
  padding: 0;
  /* margin-left: 150px;
  margin-right: 150px; */
  display: flex;
  overflow: visible;
  justify-content: center;
  flex-wrap: wrap;
}

.curtain {
  height: 100%;
  width: 100%;
  background-color: black;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.6;

  animation: CurtainFade 0.1s linear;
}

@keyframes CurtainFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.6;
  }
}

@media only screen and (max-width:886px) {
  .popup {
    flex-direction: column;

    width: calc(350px + 2.5vw);
    height: calc(715px + 2.5vw);

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    z-index: 2000;
  
    /* background-color: #0a0a0a; */
    background: #fff;
    color: #000;
    border-radius: 15px;
  
    display: flex;
  
    animation: CurtainFade 0.1s linear
  }

  .popup_left {
    height: 50%;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }  

  .popup_content {
    margin-right: 25px;
    margin-left: 25px;
    text-align: right;
  } 
  
  .popup_content h1 {
    font-size: 40px;
    margin-top: 15px;
    margin-bottom: 5px;
  }
  
  .popup_content p {
    margin-top: 15px;
    font-size: 15px;
  }

  .popup_left img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 0;
    text-align: center;
    width: 100%;
  }
}

@media only screen and (min-width:887px) {
  .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    z-index: 2000;
  
    /* background-color: #0a0a0a; */
    background: #fff;
    color: #000;
  
    width: calc(800px + 2.5vw);
    height: calc(400px + 2.5vw);
    border-radius: 10px;
  
    display: flex;
  
    animation: CurtainFade 0.1s linear;
  }

  .popup_left {
    width: 50%;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }  

  .popup_content {
    width: 50%;
    margin-right: 25px;
    margin-left: 25px;
    text-align: right;
  }  

  .popup_content h1 {
    font-size: 40px;
    margin-top: 15px;
    margin-bottom: 5px;
  }
  
  .popup_content p {
    margin-top: 15px;
    font-size: 18px;
  }
  
  .popup_left img {
    // border-radius: 15px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin: 0;
    text-align: center;
    /* height: 427px; */
    /* width: 427px; */
    height: 100%;
  }
}

.popup_content button:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.popup_buttons {
  display: flex;
  position: absolute; 
  bottom: 3%;
  right: 2%;
}

.grad_btn {
  /* background: linear-gradient(90deg, rgb(190, 80, 241) 0%, rgb(65, 167, 226) 100%); */
  /* color: #fff; */

  background: #fff;
  color: #000;

  height: 50px;
  width: 125px;
  margin-left: 20px;
  border: none;
  padding: 8px;
  border-radius: 3px;

  font-weight: 500;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: .0892857143em;

  transition: transform 0.2s;
}

.yt_btn {
  /* background: #ff0000; */
  background: rgb(255, 255, 255);
  
  height: 50px;
  width: 50px;
  margin-left: 20px;
  border: none;
  padding: 8px;
  color: #fff;
  border-radius: 3px;

  font-weight: 500;
  font-size: 27px;
  text-transform: uppercase;
  letter-spacing: .0892857143em;

  transition: transform 0.2s;
}

.yt_btn_inner {
  color: #ff0000;
}

.popup_tracktext p {
  margin: 0;
}

.popup_tracklist {
  margin-bottom: 0;
}

.page_top {
  background: linear-gradient(90deg, rgba(133,72,245,1) 0%, rgba(250,147,255,1) 100%);
}

.wave1 {
  fill: linear-gradient(90deg, rgba(133,72,245,1) 0%, rgba(250,147,255,1) 100%);
}

.scrolldown {
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%,-95%);
  
  animation: bopbop 1s ease infinite;
}

@keyframes bopbop {
  0% {
    margin-top: 0px;
  }
  50% {
    margin-top: 25px;
  }
}

.footer {
  /* border-top-left-radius: 25px;
  border-top-right-radius: 25px; */
  color: #fff;
  background-color: #39b54a;
  width: 100%;
  /* height: 80px; */

  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.footer_container {
  text-align: center;
  margin-bottom: 15px;
  margin-top: 15px;
  
  display: flex;
  flex-direction: row;
}

.footer_container p {
  margin: 4px;
}

.twemoji {
  height: 1em;
  width: 1em;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.1em;
}

.page_socials {
  transform: scale(0.7);
}

@keyframes imageload {
  0% {
    background-color: '#d4d4d4'
  }
  100% {
    background-color: '#ababab'
  }
}

@keyframes nicetry {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

.daluxglare {
  height: 100%;
  background-color: #131313;
  overflow: hidden;
}

.daluxglare img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.daluxglare h1 {
  margin-top: 0;
  font-size: 50px;
  font-family: "Comic Sans MS";
  overflow: hidden;
}

.ticker {
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  animation: nicetry 30s infinite linear;
}

.ticker2 {
  animation-delay: 15s;
}

.music_container p {
  color: #000;
}


/* About Page */

@media only screen and (min-width:1160px) {
  .about_image_text {
    display: flex;
    justify-content: center;
  }
  
  .about_left {
    /* width: 50%; */
    display: flex;
    justify-content: flex-end;
  }
  
  .about_left img {
    width: 281px;
    height: 500px;
    border-radius: 15px;
    margin: 5px;
  }
  
  .about_right {
    width: 30%;
    margin-left: 25px;
  }
  
  .about_right p {
    text-align: left;
  }

  .sites_right {
    width: 30%;
    margin-left: 50px;
    display: flex;
    justify-content: center;
  }

  .sites_blob {
    height: 90%;
    width: 90%;
    align-self: center;
    transition: all 0.3s ease;
  }

  .sites_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35%;
  }

  .sites_site {
    width: 100%;
    padding: 5px;
    border-radius: 10px;
  
    display: flex;
    margin-bottom: 5px;
  
    transition: all 0.2s ease;
  }
}

@media only screen and (max-width:1160px) {
  .about_image_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .about_left {
    /* width: 50%; */
    display: flex;
    justify-content: center;
    display: none;
  }
  
  .about_left img {
    width: 40vw;
    // /* height: 500px; */
    border-radius: 15px;
    margin: 5px;
    margin-bottom: 25px;
  }
  
  .about_right {
    margin-left: 20px;
    margin-right: 20px;
    /* width: 50%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .about_right p {
    text-align: left;
  }

  .sites_blob {
    display: none;
  }

  .sites_left {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-self: center;
    width: 90%;
  }

  .sites_site {
    padding: 5px;
    border-radius: 10px;
  
    display: flex;
    margin-bottom: 5px;
  
    transition: all 0.2s ease;
  }
}

.sites_items_container {
  display: flex;
  flex-direction: column;
}

.sites_site {
  padding: 5px;
  border-radius: 10px;

  display: flex;
  margin-bottom: 5px;

  transition: all 0.2s ease;
}

.sites_site:hover {
  box-shadow: 10px 10px 28px -5px rgba(0,0,0,0.75);
  transform: scale(1.1) translate(0%, -5%);
  z-index: 1000;
  cursor: pointer;
}

/* .sites_site img {
  border-radius: 0;
  width: 100px;
  height: 100px;
  
  align-self: center;
} */

.sites_left .page_title {
  margin-bottom: 15px;
}

.sites_site h1, .sites_site p {
  color: #fff;
  text-align: left;
}

.sites_site_content {
  margin-left: 15px;
}

.sites_site_content h1 {
  margin-bottom: 5px;
}

.sites_site_content p {
  margin-top: 0px;
}

.gray {
  background-color: #f3f4f5;
}

.grad_disq {
  background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
}

.grad_nice {
  background: linear-gradient(90deg, rgba(204,37,74,1) 0%, rgba(251,63,63,1) 100%);
}

.grad_kei {
  background: linear-gradient(90deg, #0a101b 0%, #435170 100%);
}

.sites_container {
  margin-bottom: 25px;
}

.sideby {
  display: flex;
  flex-direction: row;
  align-items: center;
}


.presences {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  
  margin-top: 50px;
  animation: presencePop 0.3s ease;
}

.presence {
  box-shadow: 10px 10px 28px -5px rgba(0,0,0,0.3);
  width: 400px;
  height: auto;
  
  padding: 15px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.404);
  color: #000;
  margin: 10px;

  font-weight: 100;

  background-position: 2%;
  background-size: cover;

  flex-shrink: 3;
  min-height: 152px;
}

@keyframes presencePop {
  0% {
    opacity: 0;
    transform: translateY(25px);
  }
}

.presence b {
  font-weight: 500;
}

.presence h1 {
  color: #000;
}

.presence_music {
  display: flex;
  flex-direction: column;
  margin: 0;

  text-overflow: ellipsis;
}

.presence_music .title {
  margin-top: 2px;
}

.presence_music_lower {
  display: flex;
  flex-direction: row;
  align-items: center;

  position: relative;
  top: 10px;
  left: 5px;

  margin-bottom: 10px;
}

.presence_small_img {
  z-index: 50;
  position: absolute;

  border-radius: 1000px;

  left: -25px;
  top: 25px;

  width: 30px;
  height: 30px;
}

.presence_music .info {
  /* margin-top: 2px; */
  margin-left: 20px;
  margin-right: 20px;
  text-align: left;
}

.presence_music .info h2 {
  margin-top: 5px;
  font-weight: 900;
  letter-spacing: -1px;
}

.presence_music .info p {
  text-overflow: ellipsis;
}

.presence_large_img {
  border-radius: 4px;
  height: 100px;
}

@media only screen and (max-width: 450px) {
  .presence {
    width: 90vw;
  }

  progress {
    width: 28vw;
  }
}

progress {
  margin-left: 5px;
  margin-right: 5px;

  background-color: #f3f3f3;
  height: 12px;
  border-radius: 15px;

  transition: 0.2s ease;
}

progress::-webkit-progress-value {
  /* background: linear-gradient(90deg, rgb(190, 80, 241) 0%, rgb(65, 167, 226) 100%); */
  background-color: #1DB954;
  border-radius: 15px;
}

progress::-webkit-progress-bar {
  background-color: #dbdbdb;
  border-radius: 15px;
}

.str_button {
  /* background: linear-gradient(90deg, rgb(190, 80, 241) 0%, rgb(65, 167, 226) 100%); */
  background-color: #9146ff;
  color: #fff;

  /* margin: 4px;
  margin-bottom: 0px;
  margin-left: 0px; */
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  /* padding: 3px 20px; */
  font-size: 15px;
}

.spotify {
  background-color: #191414;
  color: #fff;
}

.discord_style {
  background-color: #2C2F33;
  color: #fff;
}

.short {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.lanyard {
  margin: 0;
  margin-left: auto;
  z-index: 50;
  // position: absolute;

  border-radius: 1000px;

  // left: 1px;
}

.presence_songname {
  color: #000;
  text-decoration: none;
}

.presence_songname:hover {
  text-decoration: underline;
}
  
.wave {
  margin-top: -1px;
}

.tippy-box[data-theme~='disq'] {
	background-color: black;
  font-family: Inter;
	box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.5);
}

.tippy-box[data-state="visible"] {
	transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.tippy-box[data-placement^="top"][data-animation="discord-anim"] {
    transform-origin: center !important;
    &[data-state="hidden"] {
        opacity: 0;
        transform: scale(0.9) translateY(-11px);
    }
    &[data-state="visible"] {
        transform: scale(1) translateY(-11px);
    }
}

.tippy-box[data-theme~='disq'][data-placement^="top"]  > .tippy-arrow::before {
	border-top-color: black;
}

.tippy-box[data-placement^="right"][data-animation="discord-anim"] {
    transform-origin: center !important;
    &[data-state="hidden"] {
        opacity: 0;
        transform: scale(0.9) translateX(11px);
    }
    &[data-state="visible"] {
        transform: scale(1) translateX(11px);
    }
}

.tippy-arrow {
	color: #000 !important;
}

.tippy-box[data-theme~='disq'] .tippy-content {
	color: rgba(255, 255, 255, 0.95);
	font-weight: 500;
	letter-spacing: 0.4px;
	font-size: 0.965em;

	h2 {
		margin: 0;
		margin-bottom: 8px;
	}
}
