@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


.headline{
  text-align:center;

}
.headline  h1{
    font-size:35px;
    font-family: 'Roboto', sans-serif;
    color:#fff;
  }

.social-buttons{
  display:inline-block;
  background: rgba(256,256,256,0.5);
  padding:20px;
  padding-bottom: 5px;
  border-radius:10px;
  text-align:center;
  margin:20px 10px;
  box-shadow: 0px 0px 32px -7px #00199f;
}

/* Helper class to divide the icons */
.social-margin {
  margin-right: 15px;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
}

.social-icon {
  margin-bottom: 15px;
   box-sizing: border-box;
  -moz-border-radius: 138px;
  -webkit-border-radius: 138px;
  border-radius: 138px;
  border: 5px solid;
  text-align: center;
  width: 50px;
  height: 50px;
  display: inline-block;
  line-height: 1px;
  padding-top: 11px;
  transition: all 0.5s;
}
.social-icon:hover {
    transform: rotate(360deg)scale(1.3);
  }
  /* Facebook Button Styling */
 .facebook {
    font-size: 22px;
    padding-top: 9px;
    border-color: #3b5998;
    background-color: #3b5998;
    color: #ffffff;

  }
  .facebook:hover {
    background-color: #ffffff;
    color: #3b5998;
  }
  /* Twitter Button Styling */
.twitter {
    font-size: 22px;
    padding-top: 10px;
    padding-left: 2px;
    border-color: #55acee;
    background-color: #55acee;
    color: #ffffff;

  }
  .twitter:hover {
    background-color: #ffffff;
    color: #55acee;
  }
  /* Google+ Button Styling */
  .google-plus {
    font-size: 22px;
    padding-top: 9px;
    padding-left: 2px;
    background-color: #dd4b39;
    color: #ffffff;
    border-color: #dd4b39;

  }
  .google-plus :hover {
    background-color: #ffffff;
    color: #dd4b39;
  }
  /* Linkedin Button Styling */
  .linkedin {
    font-size: 24px;
    padding-top: 8px;
    padding-left: 1px;
    background-color: #0976b4;
    color: #ffffff;
    border-color: #0976b4;

  }
  .linkedin :hover {
    background-color: #ffffff;
    color: #0976b4;
  }
  /* Pinterest Button Styling */
.pinterest {
    font-size: 22px;
    padding-top: 9px;
    background-color:  #cb2027;
    color: #ffffff;
    border-color:  #cb2027;

 }
  .pinterest:hover {
    background-color: #ffffff;
    color:  #cb2027;
  }
  /* Behance Button Styling */
  .behance {
    font-size: 22px;
    padding-top: 9px;
    background-color: #1769ff;
    color: #ffffff;
    border-color: #1769ff;

  }
  .behance :hover {
    background-color: #ffffff;
    color: #1769ff;
  }

  /* Github Button Styling */
 .github {
    font-size: 22px;
    padding-top: 9px;
    background-color: #4183c4;
    color: #ffffff;
    border-color: #4183c4;

  }
  .github:hover {
    background-color: #ffffff;
    color: #4183c4;
  }
  /* Youtube Button Styling */
 .youtube {
    font-size: 22px;
    padding-top: 9px;
    padding-left: 0px;
    background-color: #bb0000;
    color: #ffffff;
    border-color: #bb0000;

  }
  .youtube  :hover {
    background-color: #ffffff;
    color: #bb0000;
  }
  /* Soundcloud Button Styling */
  .soundcloud {
    font-size: 22px;
    padding-top: 9px;
    padding-left: 0px;
    background-color: #ff3a00;
    color: #ffffff;
    border-color: #ff3a00;

  }
  .soundcloud :hover {
    background-color: #ffffff;
    color: #ff3a00;
  }
